.app{
    height: 100vh;
    background-color: #0E8388;
    overflow-x: hidden;
    position: relative;
}

.button-start{
    position: absolute;
    top: 40px;
    left: 40px;
    border: none;
    background-color:#CBE4DE;
    color: #2C3333;
    font-weight: 500;
    font-size: 20px;
    padding: 20px 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s ease;
}

.button-start:hover{
    background-color: #2C3333;
    color: #cbcbcb;
}